# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- List popular languages for Data Science
- List polular tools for Data Science
- Create tables in jupyter notebook markdown cells

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Visual Studio

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. panda
3. matplotlib
4. scikit

|Data Science Tools|
| --- |
|Jupyter notenbook|
|Rstudio|
|TensorFelow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author
Mehran